@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de rolagem para Chrome, Safari e Opera */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar barra de rolagem para IE, Edge e Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}